apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "psc-portmapper.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "psc-portmapper.labels" . | nindent 4 }}
rules:
  - apiGroups: [""]
    resources: ["events"]
    verbs:
    - get
    - list
    - watch
    - patch
    - update
    - create
  - apiGroups: [""]
    resources: ["services"]
    verbs:
    - create
    - delete
    - update
